:root{
  min-height: 100vh;
  background-color:hsla(0,22%,6%,1);
  background-image:
  radial-gradient(at 100% 0%, hsla(359,61%,40%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(341,14%,7%,1) 0px, transparent 50%);
  font-family: monospace;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}